<div
  class="h-screen w-screen overflow-hidden text-gray-800 dark:text-gray-100 transition-colors duration-500 relative bg-slate-200 dark:bg-zinc-900">

  <div
    class="z-10 flex h-full w-full flex-col overflow-hidden rounded-none border border-white/40 bg-white/40 shadow-2xl shadow-black/10 backdrop-blur-[24px] dark:border-white/10 dark:bg-[rgba(30,30,35,0.75)] dark:shadow-black/50"
  >
    <mtx-titlebar (openSettings)="openSettings()" />
    <div id="body" class="flex-1 flex overflow-hidden">
      <mtx-sidebar />
      <mtx-workspace />
    </div>
  </div>

  <mtx-dialog />
</div>
