<div
  class="relative h-screen w-screen overflow-hidden bg-slate-300 text-gray-900 transition-colors duration-500 dark:bg-zinc-900 dark:text-gray-100">

  <div
    class="z-10 flex h-full w-full flex-col overflow-hidden rounded-none border border-black/10 bg-white/75 shadow-2xl shadow-black/15 backdrop-blur-[24px] dark:border-white/10 dark:bg-[rgba(30,30,35,0.75)] dark:shadow-black/50"
  >
    <mtx-titlebar (openSettings)="openSettings()" />
    <div id="body" class="flex-1 flex overflow-hidden">
      <mtx-sidebar />
      <mtx-workspace />
    </div>
  </div>

  <mtx-dialog />
  <mtx-context-menu />
</div>
