<div
  class="h-screen w-screen overflow-hidden text-gray-800 dark:text-gray-100 transition-colors duration-500 relative bg-slate-200 dark:bg-zinc-900">

  <div class="w-full h-full overflow-hidden flex flex-col mn-glass-container z-10 rounded-none">
    <app-titlebar (openSettings)="openSettings()" />
    <div id="body" class="flex-1 flex overflow-hidden">
      <app-sidebar />
      <app-workspace />
    </div>
  </div>

  <app-settings [open]="isSettingsOpen()" (close)="closeSettings()" />
</div>