<div
  #previewRoot
  class="h-full min-h-0 overflow-auto px-8 py-4 text-[15px] leading-[1.7] text-gray-800 dark:text-gray-100
    [&_a]:text-blue-600 [&_a]:underline dark:[&_a]:text-blue-400
    [&_blockquote]:border-l-2 [&_blockquote]:border-black/10 [&_blockquote]:pl-4 [&_blockquote]:text-gray-500 dark:[&_blockquote]:border-white/10 dark:[&_blockquote]:text-gray-400
    [&_code]:rounded [&_code]:bg-black/[0.05] [&_code]:px-1.5 [&_code]:py-0.5 [&_code]:font-mono [&_code]:text-[0.9em] dark:[&_code]:bg-white/[0.08]
    [&_pre]:overflow-auto [&_pre]:rounded-lg [&_pre]:bg-black/[0.06] [&_pre]:p-4 dark:[&_pre]:bg-white/[0.06]
    [&_pre_code]:bg-transparent [&_pre_code]:p-0
    [&_h1]:mb-4 [&_h1]:text-3xl [&_h1]:font-semibold
    [&_h2]:mb-3 [&_h2]:mt-6 [&_h2]:text-2xl [&_h2]:font-semibold
    [&_h3]:mb-2 [&_h3]:mt-5 [&_h3]:text-xl [&_h3]:font-semibold
    [&_p]:my-3
    [&_ul]:my-3 [&_ul]:list-disc [&_ul]:pl-6
    [&_ol]:my-3 [&_ol]:list-decimal [&_ol]:pl-6
    [&_li]:my-1
    [&_hr]:my-6 [&_hr]:border-black/10 dark:[&_hr]:border-white/10
    [&_table]:my-4 [&_table]:w-full [&_table]:border-collapse
    [&_th]:border [&_th]:border-black/10 [&_th]:px-3 [&_th]:py-2 [&_th]:text-left dark:[&_th]:border-white/10
    [&_td]:border [&_td]:border-black/10 [&_td]:px-3 [&_td]:py-2 dark:[&_td]:border-white/10
    [&_.mermaid-render]:my-4 [&_.mermaid-render]:overflow-auto [&_.mermaid-render]:rounded-lg [&_.mermaid-render]:bg-black/[0.04] [&_.mermaid-render]:p-4 dark:[&_.mermaid-render]:bg-white/[0.04]"
  (scroll)="handleScroll()"
  [innerHTML]="renderedHtml"></div>
